<% layout('layouts/boilerplate')%>

<div class="container my-5 d-flex justify-content-center">

        <div class="col-8 col-md-6 col-lg-4">

            <%- include('../partials/flash') %>

            <div class="card shadow">
                <div class="card-header">
                    Register
                </div>
                <div class="card-body">
                    <form action="/register" method="POST" class="needs-validation" novalidate>
                        <section class="mb-2">
                            <label for="email" class="form-label">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required autofocus>
                        </section>
                        <section class="mb-2">
                            <label for="username" class="form-label">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required>
                        </section>
                        <section class="mb-4">
                            <label for="password" class="form-label">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                        </section>
                        <button type="submit" class="btn btn-success w-100">Submit</button>
                    </form>
                </div>
            </div>

        </div>

</div>