<footer
    class="
        footer
        container-fluid
        p-3
        mt-auto
        position-fixed
        bottom-0
        w-100
        bg-dark
        d-flex
        justify-content-between
    "
>
    <div class="git-link row align-text-center">
        <a
            target="_blank"
            href="https://github.com/DarthSaul/superhero-app"
            class="git-link text-decoration-none"
            ><img
                src="https://res.cloudinary.com/darthsaul/image/upload/v1633385451/GitHub-Mark-64px_ksihkj.png"
                alt="git"
                class="me-1 git-icon"
            />
            <span class="">View the Code</span>
        </a>
    </div>
    <div class="text-muted fw-light">
        Icons made by
        <a
            href="https://www.flaticon.com/authors/pixel-perfect"
            title="Pixel perfect"
            >Pixel perfect</a
        >
        & <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon"
            >www.flaticon.com</a
        >
    </div>
</footer>
