<footer class="footer mt-auto position-fixed bottom-0 w-100" style="background-color: #bce3ff;">
    <div class="container p-3">
        <span class="text-muted">"I can do this all day."</span>
    </div>
</footer>