<footer class="footer container-fluid p-3 mt-auto position-fixed bottom-0 w-100 bg-dark d-flex justify-content-between">
    <span class="text-muted">"I can do this all day."</span>
    <div class="text-muted fw-light">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>