<% if (equipAdd.length) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= equipAdd %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if (equipDelete.length) { %>
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <%= equipDelete %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if (equipError.length) { %>
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <%= equipError %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>