<% layout('./layouts/boilerplate')%>

<div class="container my-5">

    <%- include('./partials/flash') %>

    <h1 class="display-1">Welcome</h1>
    <hr>

    <div class="">
        <div class="row">
            <div class="col-sm">
                <a href="/teams" class="text-decoration-none">
                    <img class="homepageImg"
                        src="https://www.comicbasics.com/wp-content/uploads/2020/08/The-Top-10-Greatest-Superheroes-Without-Superpowers-In-Comics-Today.jpg"
                        alt="">
                    <p class="display-4 text-secondary">Teams</p>
                </a>
            </div>
            <div class="col-sm">
                <a href="/teams/new" class="text-decoration-none">
                    <img class="homepageImg"
                        src="https://static.hollywoodreporter.com/sites/default/files/2015/10/iron_man_comic.jpg" 
                        alt="">
                    <p class="display-4 text-secondary">New Team</p>
                </a>
            </div>
            <div class="col-sm">
                <a href="/search" class="text-decoration-none">
                    <img class="homepageImg" 
                        src="https://cdn1.vox-cdn.com/uploads/chorus_asset/file/6260457/MarvelCivilWar.0.jpg" 
                        alt="">
                    <p class="display-4 text-secondary">Search</p>
                </a>
            </div>
        </div>
    </div>

</div>
