body {
    margin-bottom: 6rem;
}

.nav-item {
    padding-right: 1rem;
}

#cluster-map {
    width: 100%;
    height: 500px;
}

#map-popup {
    padding-right: 3rem;
}

.cluster-map-popup {
    padding-right: 3rem;
}

.mapboxgl-marker {
    cursor: pointer;
}

.comic-thumbnail {
    max-width: 80vw;
}

.card {
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.card-img-top {
    cursor: pointer;
    transition: all .8s;
}

.card-img-top:hover {
    opacity: .5;
}