body {
    margin-bottom: 6rem;
}

.nav-item {
    padding-right: 1rem;
}

#cluster-map {
    width: 100%;
    height: 500px;
}

#map-popup {
    padding-right: 3rem;
}

.cluster-map-popup {
    padding-right: 3rem;
}

.mapboxgl-marker {
    cursor: pointer;
}
.team-card {
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.team-img {
    border-radius: 12px 0 0 12px;
}

footer {
    font-size: 0.9em;
}
.git-icon {
    width: 1.25em;
    height: 1.25em;
}
.git-link a {
    color: #8b8b8b;
}
.git-link a:hover {
    color: white;
}
