html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 6rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.homepageImg {
    max-width: 100%;
}

.heroImage {
    height: 300px;
    width: auto;
}