<% layout('./layouts/boilerplate')%>


<div class="container my-5">
    <div class="row">
        <h1 class="display-2 text-muted"><i>Series</i></h1>
        <hr>
        <h1 class="display-4 mb-2"><%= name %></h1>
        <div class="col-12">
            <div class="d-flex flex-wrap justify-content-center">
                <% for (let result of results) { %>
                    <div class="card m-2" style="width: 200px;">
                        <img src=<%= result.thumbnail.path + "/detail.jpg" %> class="card-img-top img-button">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div></div>
                           <h5 class="card-title text-center text-muted"><%= result.title %></h5>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
