<% layout('./layouts/boilerplate')%>

<link rel="stylesheet" href="/css/comic-series.css">


<div class="container my-5">
    <div class="row">
        <h1 class="display-2 text-muted"><i>Series</i></h1>
        <h4 class="fw-light">Click an image for more information at Marvel.com</h4>
        <hr>
        <h1 class="display-4 mb-3"><%= name %></h1>
        <div class="col-12">
            <div class="d-flex flex-wrap justify-content-center align-items-center">
                <% for (let result of results) { %>
                    <div class="card m-2 h-100">
                        <a href=<%=result.urls[0].url%> target="_blank"><img src=<%= result.thumbnail.path + "/detail.jpg" %> class="card-img-top img-button"></a>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <hr>
                            <h5 class="card-title text-center text-muted"><%= result.title %></h5>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
